
<div class="contact-area d-flex align-items-center">

    <div class="google-map">
        <img [src]="'assets/dist/img/mapa.png'"/>

    </div>

    <div class="contact-info">
        <h2>Dónde encontrarnos</h2>
        <p>
            Centro Comercial Plaza Atlántico Mall
        </p>

        <div class="contact-address mt-50">
            <p><span>dirección::</span> Avenida Atlantico, Ciudad Guayana, Bolívar</p>
            <p><span>teléfono::</span> +58 4249327149</p>
            <p><a href="mailto:contact@opticamerida.com">contact@opticamerida.com</a></p>
        </div>
    </div>

</div>
