 <div class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb">
        <img src="assets/dist/img/bg-img/bg-arriba.jpg" alt="">
    </div>

    <!-- Single Blog Content Wrap -->
    <div class="single-blog-content-wrapper d-flex">

        <!-- Blog Content -->
        <div class="single-blog--text">
            <h2>Somos la familia Mérida, apasionados con la excelencia y la innovación, comprometidos con nuestros clientes y su calidad visual</h2>
            <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

            <blockquote>
                <h6><i class="fa fa-quote-left" aria-hidden="true"></i> Queremos superar las expectativas de nuestros clientes, sustentados en la innovación y trayectoria única de la Familia Mérida, para profundizar el liderazgo en Venezuela y consolidarnos en Centroamérica y el Caribe.</h6>
                <span>Visión</span>
            </blockquote>

            <h4>NUESTROS VALORES</h4>
            <p>
                1. Responsabilidad: Cuidamos tu visión.<br> 
                2. Trabajo en equipo: Juntos logramos todo.<br> 
                3. Compromiso: Pasión por lo que hacemos.<br> 
                4. Solidaridad: Apoyamos a nuestra gente.<br> 
                5. Creatividad: Somos diferentes.<br> 
                6. Honestidad: Somos lo que ves.<br> 
                7. Eficacia: Todo lo que hacemos lo hacemos bien.<br> 
            </p>
        </div>

        <!-- Related Blog Post -->
        <div class="related-blog-post">
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="assets/dist/img/bg-img/bg-x1.jpg" alt="">
                <a href="#">
                    <h5> </h5>
                </a>
            </div>
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="assets/dist/img/bg-img/bg-x4.jpg" alt="">
                <a href="#">
                    <h5></h5>
                </a>
            </div>
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="assets/dist/img/bg-img/bg-x2.jpg" alt="">
                <a href="#">
                    <h5></h5>
                </a>
            </div>
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="assets/dist/img/bg-img/bg-x3.jpg" alt="">
                <a href="#">
                    <h5></h5>
                </a>
            </div>
        </div>

    </div>
</div>
