
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">¡Registrate!</h3>
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="form-group">
                  <input [(ngModel)]="user.nombres" type="text" class="form-control"  formControlName="first_name" placeholder="Nombre*" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="user.apellidos" type="text"  class="form-control"  formControlName="last_name" placeholder="Apellido*" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="user.username" type="text" class="form-control"  formControlName="username" placeholder="Username*" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="user.email" type="email"  class="form-control"  formControlName="email" placeholder="Correo*" required autofocus>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="user.direccion" type="text" class="form-control"  formControlName="address" placeholder="Dirección*" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="user.telefono" type="text" class="form-control"  formControlName="phone" placeholder="Teléfono*" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="user.password" type="password" class="form-control"  formControlName="password" placeholder="Contraseña*" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" 
                  [disabled]="!registerForm.valid"
                >Sign in</button>
                <div class="text-center">
                  <a class="small"[routerLink]="['/login']" routerLinkActive="active">Log in</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Notificación -->
<p-toast [style]="{marginTop: '70px'}" position="top-right" key="tc"></p-toast>
