
<div class="checkout_area section-padding-80">
    <div class="container">
        <div class="row">


            <div class="col-12 col-md-6">
                <p-dataView #dv [value]="product" [paginator]="true" [rows]="9" layout="grid" header="Carrito">
                    <ng-template layout="grid" let-product pTemplate="gridItem">
                        <div class="p-col-12 p-md-4">
                            <div class="product-grid-item card">
                                <div class="product-grid-item-content" >    
                                    <img [src]="'assets/dist/img/product-img/'+ product.foto" [alt]="product.foto"/>
                                    <div class="product-name" style="text-align: center;">
                                        <a>
                                            <h6>{{product.descripcion}}</h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-grid-item-bottom" style="text-align: center;">
                                    <!-- <p-button (click)="remove(product)" icon="pi pi-shopping-cart" [disabled]="product.cantidad_total < 1"></p-button> -->
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>


            <!--Resumen a pagar  -->
            <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                <div class="order-details-confirmation">

                    <div class="cart-page-heading">
                        <h5>Factura</h5>
                        <p>Total a pagar</p>
                    </div>

                    <ul class="order-details-form mb-4">
                        <li><span>Producto</span> <span>Total</span></li>
                    </ul>
                    <ul class="order-details-form mb-4" *ngFor="let item of product">
                        <li><span>{{item.descripcion}}</span> <span>${{ item.precio}}</span></li>
                    </ul>
                    <ul class="order-details-form mb-4">
                        <li><span>Total</span> <span>${{total}}</span></li>
                    </ul>

                    <a (click)="comprar()" class="btn essence-btn">Pagar</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
